/* James Boussounis - Portfolio */


body
{
	background-color:rgba(8, 8, 16, 0.94);
	background-image: url('images/lines.png');
	margin:0;
	
}

#header
{
	font-family: Gill sans, sans-serif;
	font-weight: 900;
	font-size: 3em;
	color: white;
	text-shadow: 0.08em 0.07em 0.04em rgba(68, 0, 229, 0.8);
	margin-top:0;
	margin-bottom:0;
	padding-left: 0.2em;
	background-color: rgb(22, 27, 36);
	padding-top:0.1em;
	padding-bottom:0.4em;
	
}

#navbar
{
	display:flex;
	justify-content: space-between;
	background-color: #A5A4FF;
	font-family: Cascadia Mono, sans-serif, monospace;
	text-shadow: 0.1em 0.1em 0.25em rgba(68, 0, 229, 0.8);
	color: white;


}

#navpage
{
	display:inline-block;
	font-size:1.5em;
	line-height:0.1em;
	margin-left:1em;

}
#nav ul
{
	text-align: right;
	margin-left: 1.5em;
	margin-right: 1.5em;
	
}
#nav li
{
	display: inline;
	font-size:1em;
	color: #FFF4F0;
	
}
#nav a
{
	display:inline-block;
	line-height: 2em;
	color: white;
	text-decoration: none;
	margin-left:1.5em;
	margin-right:1.5em;
	
}


#maincontainer
{
	display: flex;

}

#photo
{
	flex:2;
	margin-top:2em;
	margin-left:2em;
	width:30em;
	
}

.photo
{
	width:25em;
	height:auto;
	border: 0.1em solid #353D4B;
	
}

#main
{
	flex:3;
	text-align: left;
	opacity: 1;
	color: #FFF4F0;
	margin-top:4em;
	margin-left:3em;
	text-shadow: 0.2em 0.2em 0.5em black;
	
}


#welcome
{
	font-family: Bahnschrift Light, sans-serif;
	font-size:4em;

}

h2
{
	font-family: Courier New, monospace, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size:2em;

}

p
{
	font-family: Courier New, monospace, sans-serif;
	font-size:1em;
	
}

button
{
	background-color: rgba(68, 0, 229, 0.92);
	color: rgba(255, 255, 255, 0.95);
	text-decoration: underline;
	font-family: Gill sans, sans-serif;
	font-size:0.8em;
	border-radius: 1em;
	border: none;
	width: 10em;
	height: 2em;
	box-shadow: 0.1em 0.2em rgba(255, 255, 255, 0.8);
	
}
button:hover
{
	background-color: #A5A4FF;

}
button:active
{
	background-color: #A5A4FF;
	box-shadow: 0.1em 0.2em white;
	transform: translateY(0.1em);

}


.socialicons
{
	color: inherit;
	font-size: 2em;
	margin-right:1em;
}

.email
{
	color: inherit;
	font-size: 1.1em;
	font-family: Bookman Old Style, serif;
	
}

form
{
	background-color: rgba(40, 40, 80, 0.90);
	border: 0.4em solid rgba(68, 0, 229, 0.92);
	border-radius:0.4em;
	color:white;
	max-width: 50em;
	margin: auto;
	margin-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	font-family: arial, sans serif;

	
}

textarea
{
	height: 4em;
	min-height:4em;
	max-height: 20em;
	width: 100%;
	resize:vertical;

}

#starRating
{
	display:flex;
	flex-direction:row-reverse;
	justify-content: left;
}
#starRating input
{
	display:none;
	
}
#starRating label
{
	color:grey;
	font-size:2em;
	cursor: pointer;
	
}
#starRating input:checked ~ label, #starRating label:hover, #starRating label:hover ~ label
{
	color: white;
	text-shadow: 0.1em 0.1em 0.25em rgba(68, 0, 229, 0.8);

}

#submitButton
{
	text-decoration: none;
	font-size: 1em;
	
}


footer
{
	background-color: #8F8AE0;
	color:white;
	text-shadow: 0.1em 0.1em 0.25em rgba(68, 0, 229, 0.8);
	margin-top: 3em;
	padding: 1em;
	
}

#gallery_header
{
	margin-left:1em;
	color: #FFF4F0;
	font-family: Bahnschrift Light, sans serif;
	font-size:4em;
	text-shadow: 0.2em 0.2em 0.5em black;
	
}

#aboutcontainer
{
	display:flex;
	margin-top:3em;
	
}

#portrait
{
	flex:1;
	
}
.portrait
{
	max-width:20em;
	margin-left: 2em;
	border: 0.1em solid #353D4B;

	
}
#about
{
	flex:2;
	color: white;
	font-family: Courier New, monospace, sans-serif;
	text-shadow: 0.2em 0.2em 0.5em black;
	margin-right:5em;
	background-color: rgba(22, 27, 36, 0.6);

}

#gallery
{
	text-align:center;
	
}
.row1
{
	height:22em;
	width:auto;
	margin:0.5em;
	border:0.4em solid rgba(68, 0, 229, 0.92);
	
}
.row2
{
	height:19.3em;
	width:auto;
	margin:0.5em;
	border:0.4em solid rgba(68, 0, 229, 0.92);
	
}
.row3
{
	height:20.7em;
	width:auto;
	margin:0.5em;
	border:0.4em solid rgba(68, 0, 229, 0.92);
	
}
