/* James Boussounis - Portfolio */


body
{
	background-color:rgba(8, 8, 16, 0.94);

}

#navbarcontainer
{
	display:flex;
	justify-content: space-between;
	background-color: #A5A4FF;
	font-family: Cascadia Mono, sans-serif, monospace;
	text-shadow: 0.2em 0.2em 0.5em rgba(68, 0, 229, 0.8);
	color: white;


}

#header
{
	display:inline-block;
	font-size:6em;
	line-height:0em;
	margin-left:1em;

}
#navbar ul
{
	text-align: right;
	margin-right: 1.5em;
	
}
#navbar li
{
	display: inline;
	font-size:4em;
	color: #FFF4F0;
	
}
#navbar a
{
	display:inline-block;
	line-height: 4em;
	color: white;
	text-decoration: none;
	margin-left:1.5em;
	margin-right:1.5em;
	
}


#maincontainer
{
		display: flex;

}

#photo
{
	margin-top:5em;
	margin-left:5em;
}

.photo
{
	width:100em;
	height:auto;
	
}

#main
{
	text-align: left;
	opacity: 1;
	color: #FFF4F0;
	margin-left:8em;
	
}


#welcome
{
	font-family: Bahnschrift Light, sans-serif;
	font-size:20em;

}

h2
{
	font-family: Courier New, monospace, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size:10em;


}

p
{
	font-family: Courier New, monospace, sans-serif;
	font-size:5em;
	
}

button
{
		background-color: rgba(68, 0, 229, 0.92);
		color: rgba(255, 255, 255, 0.95);
		text-decoration: underline;
		font-family: Gill sans, sans-serif;
		font-size:3.5em;
		border-radius: 0.5em;
		border: none;
		width: 9em;
		height: 2.5em;
		box-shadow: 0.1em 0.2em rgba(255, 255, 255, 0.8);
	
}

button:active
{
	background-color: #A5A4FF;
	box-shadow: 0.1em 0.2em white;
	transform: translateY(0.1em);

}
